<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmcc.pay.mapper.PayOrderMapper" >
    <resultMap id="BaseResultMap" type="com.cmcc.pay.model.biz.PayOrder" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="orderid" property="orderid" jdbcType="VARCHAR" />
        <result column="transactionid" property="transactionid" jdbcType="VARCHAR" />
        <result column="transaction_date" property="transactionDate" jdbcType="VARCHAR" />
        <result column="ordertype" property="ordertype" jdbcType="INTEGER" />
        <result column="orderinfo" property="orderinfo" jdbcType="VARCHAR" />
        <result column="account_code" property="accountCode" jdbcType="VARCHAR" />
        <result column="account_type" property="accountType" jdbcType="INTEGER" />
        <result column="pay_period" property="payPeriod" jdbcType="VARCHAR" />
        <result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
        <result column="third_orderid" property="thirdOrderid" jdbcType="VARCHAR" />
        <result column="failurereasons" property="failurereasons" jdbcType="VARCHAR" />
        <result column="platformid" property="platformId" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="DECIMAL" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="return_url" property="returnUrl" jdbcType="VARCHAR" />
        <result column="notify_url" property="notifyUrl" jdbcType="VARCHAR" />
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
        <result column="merchantid" property="merchantid" jdbcType="BIGINT" />
        <result column="productid" property="productid" jdbcType="BIGINT" />
        <result column="royalty_flag" property="royaltyFlag" jdbcType="INTEGER"/>
        <result column="digest_alg" property="digestAlg" jdbcType="INTEGER"/>
        <result column="pro_count" property="proCount" jdbcType="INTEGER"/>
        <result column="merchant_url" property="merchantUrl" jdbcType="VARCHAR"/>
        <result column="order_type" property="orderType" jdbcType="INTEGER"/>
        <result column="merge_info" property="mergeInfo" jdbcType="VARCHAR"/>
        <result column="product_name" property="productName" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>

    <!--<resultMap id="BaseResultMap1" type="com.cmcc.pay.model.admin.PaySettleReport" >-->
        <!--<result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />-->
        <!--<result column="sumOrderPrice" property="sumOrderPrice" jdbcType="DECIMAL" />-->
        <!--<result column="sumRefundPrice" property="sumRefundPrice" jdbcType="DECIMAL" />-->
        <!--<result column="type" property="type" jdbcType="INTEGER" />-->
        <!--<result column="platformId" property="platformId" jdbcType="VARCHAR" />-->
        <!--<result column="merchantId" property="merchantId" jdbcType="BIGINT" />-->
        <!--<result column="merchantName" property="merchantName" jdbcType="VARCHAR" />-->
        <!--<result column="account_type" property="accountType" jdbcType="INTEGER" />-->
        <!--<result column="transfer_type" property="transferType" jdbcType="INTEGER" />-->
        <!--<result column="product_type" property="productType" jdbcType="INTEGER" />-->
    <!--</resultMap>-->

    <!--<resultMap id="BaseResultMap2" type="com.cmcc.pay.model.admin.PayOrderReport" >-->
        <!--<result column="platformid" property="platformId" jdbcType="VARCHAR" />-->
        <!--<result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />-->
        <!--<result column="orderid" property="orderId" jdbcType="VARCHAR" />-->
        <!--<result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />-->
        <!--<result column="third_orderid" property="thirdOrderid" jdbcType="VARCHAR" />-->
        <!--<result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />-->
        <!--<result column="product_name" property="productName" jdbcType="VARCHAR" />-->
        <!--<result column="type" property="type" jdbcType="INTEGER" />-->
        <!--<result column="price" property="price" jdbcType="DECIMAL" />-->
        <!--<result column="settle_period" property="settlePeriod" jdbcType="INTEGER" />-->
        <!--<result column="account_type" property="accountType" jdbcType="INTEGER" />-->
        <!--<result column="transfer_type" property="transferType" jdbcType="INTEGER" />-->
        <!--<result column="product_type" property="productType" jdbcType="INTEGER" />-->
    <!--</resultMap>-->

    <sql id="Base_Column_List" >
        id, orderid, transactionid, transaction_date, ordertype, orderinfo, account_code,
        account_type, pay_period, trade_no, third_orderid, failurereasons, platformid, price,
        type, pay_time, create_time, update_time, return_url, notify_url, delete_flag, merchantid,
        productid,royalty_flag,digest_alg,pro_count,merchant_url,order_type,status
    </sql>
    <sql id="Basic_Conditions" >
        <![CDATA[where delete_flag = false]]>
        <if test="id != null" >
            and id = #{id,jdbcType=BIGINT}
        </if>
        <if test="orderid != null" >
            and orderid = #{orderid,jdbcType=VARCHAR}
        </if>
        <if test="merchantid != null" >
            and merchantid = #{merchantid,jdbcType=BIGINT}
        </if>
        <if test="productid != null" >
            and productid = #{productid,jdbcType=BIGINT}
        </if>
        <if test="transactionid != null" >
            and transactionid = #{transactionid,jdbcType=VARCHAR}
        </if>
        <if test="transactionDate != null" >
            and transaction_date = #{transactionDate,jdbcType=VARCHAR}
        </if>
        <if test="ordertype != null" >
            and ordertype = #{ordertype,jdbcType=INTEGER}
        </if>
        <if test="orderinfo != null" >
            and orderinfo = #{orderinfo,jdbcType=VARCHAR}
        </if>
        <if test="accountCode != null" >
            and account_code = #{accountCode,jdbcType=VARCHAR}
        </if>
        <if test="proCount != null" >
            and pro_count = #{proCount,jdbcType=INTEGER}
        </if>
        <if test="accountType != null" >
            and account_type = #{accountType,jdbcType=INTEGER}
        </if>
        <if test="payPeriod != null" >
            and pay_period = #{payPeriod,jdbcType=VARCHAR}
        </if>
        <if test="tradeNo != null" >
            and trade_no = #{tradeNo,jdbcType=VARCHAR}
        </if>
        <if test="thirdOrderid != null" >
            and third_orderid = #{thirdOrderid,jdbcType=VARCHAR}
        </if>
        <if test="failurereasons != null" >
            and failurereasons = #{failurereasons,jdbcType=VARCHAR}
        </if>
        <if test="originalid != null" >
            and originalid = #{originalid,jdbcType=VARCHAR}
        </if>
        <if test="price != null" >
            and price = #{price,jdbcType=DECIMAL}
        </if>
        <if test="type != null" >
            and type = #{type,jdbcType=INTEGER}
        </if>
        <if test="payTime != null" >
            and pay_time = #{payTime,jdbcType=TIMESTAMP}
        </if>
        <if test="createTime != null" >
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime != null" >
            and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="returnUrl != null" >
            and return_url = #{returnUrl,jdbcType=VARCHAR}
        </if>
        <if test="notifyUrl != null" >
            and notify_url = #{notifyUrl,jdbcType=VARCHAR}
        </if>
        <if test="deleteFlag != null" >
            and delete_flag = #{deleteFlag,jdbcType=INTEGER}
        </if>
        <if test="merchantUrl != null" >
            and merchant_url = #{merchantUrl,jdbcType=VARCHAR}
        </if>
        <if test="orderType != null" >
            and order_type = #{orderType,jdbcType=INTEGER}
        </if>
        <if test="mergeInfo != null" >
            and merge_info = #{mergeInfo,jdbcType=VARCHAR}
        </if>
        <if test="status != null" >
            and status = #{status,jdbcType=INTEGER}
        </if>
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from pay_order
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="select" resultMap="BaseResultMap" parameterType="com.cmcc.pay.model.biz.PayOrder" >
        select
        <include refid="Base_Column_List" />
        from pay_order
        <include refid="Basic_Conditions" />
        limit 0,1
    </select>
    <insert id="insert" parameterType="com.cmcc.pay.model.biz.PayOrder" useGeneratedKeys="true" keyProperty="id" >
        insert into pay_order(id, orderid, transactionid,
        transaction_date, ordertype, orderinfo,
        account_code, account_type, pay_period,
        trade_no, third_orderid, failurereasons,
        platformid, price, type,pro_count,
        pay_time, create_time, update_time,
        return_url, notify_url, delete_flag,
        merchantid, productid, digest_alg,
        royalty_flag, merchant_url, order_type, merge_info)
        values (#{id,jdbcType=BIGINT}, #{orderid,jdbcType=VARCHAR}, #{transactionid,jdbcType=VARCHAR},
        #{transactionDate,jdbcType=VARCHAR}, 2, #{orderinfo,jdbcType=VARCHAR},
        #{accountCode,jdbcType=VARCHAR}, #{accountType,jdbcType=INTEGER}, #{payPeriod,jdbcType=VARCHAR},
        #{tradeNo,jdbcType=VARCHAR}, #{thirdOrderid,jdbcType=VARCHAR}, #{failurereasons,jdbcType=VARCHAR},
        #{platformId,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{type,jdbcType=INTEGER}, #{proCount,jdbcType=INTEGER},
        #{payTime,jdbcType=TIMESTAMP},
        <if test="createTime == null">
            now(),
        </if>
        <if test="createTime != null">
            #{createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="updateTime == null">
            now(),
        </if>
        <if test="updateTime != null">
            #{updateTime,jdbcType=TIMESTAMP},
        </if>
        #{returnUrl,jdbcType=VARCHAR}, #{notifyUrl,jdbcType=VARCHAR}, 0,
        #{merchantid,jdbcType=BIGINT}, #{productid,jdbcType=BIGINT}, #{digestAlg,jdbcType=INTEGER},
        #{royaltyFlag,jdbcType=INTEGER},
        #{merchantUrl,jdbcType=VARCHAR},
        <if test="orderType == null">
            0,
        </if>
        <if test="orderType != null">
            #{orderType,jdbcType=INTEGER},
        </if>
        #{mergeInfo,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="batchInsert" parameterType="java.util.List" >
        insert into pay_order_${tableSuffix} (
        id, orderid, transactionid,
        transaction_date, ordertype, orderinfo,
        account_code, account_type, pay_period,
        trade_no, third_orderid, failurereasons,
        platformid, price, type,pro_count,
        pay_time, create_time, update_time,
        return_url, notify_url, delete_flag,
        merchantid, productid, digest_alg,
        royalty_flag, merchant_url, order_type, status
        )
        values
        <foreach collection="list" item="payorder" index="index" separator=",">
            (#{payorder.id,jdbcType=BIGINT}, #{payorder.orderid,jdbcType=VARCHAR}, #{payorder.transactionid,jdbcType=VARCHAR},
            #{payorder.transactionDate,jdbcType=VARCHAR}, 2, #{payorder.orderinfo,jdbcType=VARCHAR},
            #{payorder.accountCode,jdbcType=VARCHAR}, #{payorder.accountType,jdbcType=INTEGER}, #{payorder.payPeriod,jdbcType=VARCHAR},
            #{payorder.tradeNo,jdbcType=VARCHAR}, #{payorder.thirdOrderid,jdbcType=VARCHAR}, #{payorder.failurereasons,jdbcType=VARCHAR},
            #{payorder.platformId,jdbcType=VARCHAR}, #{payorder.price,jdbcType=DECIMAL}, #{payorder.type,jdbcType=INTEGER}, #{payorder.proCount,jdbcType=INTEGER},
            #{payorder.payTime,jdbcType=TIMESTAMP},
            <if test="payorder.createTime == null">
                now(),
            </if>
            <if test="payorder.createTime != null">
                #{payorder.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="payorder.updateTime == null">
                now(),
            </if>
            <if test="payorder.updateTime != null">
                #{payorder.updateTime,jdbcType=TIMESTAMP},
            </if>
            #{payorder.returnUrl,jdbcType=VARCHAR}, #{payorder.notifyUrl,jdbcType=VARCHAR}, 0,
            #{payorder.merchantid,jdbcType=BIGINT}, #{payorder.productid,jdbcType=BIGINT}, #{payorder.digestAlg,jdbcType=INTEGER},
            #{payorder.royaltyFlag,jdbcType=INTEGER},
            #{payorder.merchantUrl,jdbcType=VARCHAR},
            <if test="payorder.orderType == null">
                0,
            </if>
            <if test="payorder.orderType != null">
                #{payorder.orderType,jdbcType=INTEGER},
            </if>
            #{payorder.status,jdbcType=INTEGER}
            )
        </foreach>

    </insert>
    <!--<update id="update" parameterType="com.cmcc.pay.model.biz.PayOrder" >-->
        <!--update pay_order-->
        <!--<set >-->
            <!--<if test="orderid != null">-->
                <!--orderid = #{orderid,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="transactionid != null">-->
                <!--transactionid = #{transactionid,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="transactionDate != null">-->
                <!--transaction_date = #{transactionDate,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="ordertype != null">-->
                <!--ordertype = #{ordertype,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="orderinfo != null">-->
                <!--orderinfo = #{orderinfo,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="accountCode != null">-->
                <!--account_code = #{accountCode,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="accountType != null">-->
                <!--account_type = #{accountType,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="payPeriod != null">-->
                <!--pay_period = #{payPeriod,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="tradeNo != null">-->
                <!--trade_no = #{tradeNo,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="thirdOrderid != null">-->
                <!--third_orderid = #{thirdOrderid,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="failurereasons != null">-->
                <!--failurereasons = #{failurereasons,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="platformId != null">-->
                <!--platformid = #{platformId,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="price != null">-->
                <!--price = #{price,jdbcType=DECIMAL},-->
            <!--</if>-->
            <!--<if test="type != null">-->
                <!--type = #{type,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="proCount != null">-->
                <!--pro_count = #{proCount,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="payTime != null">-->
                <!--pay_time = #{payTime,jdbcType=TIMESTAMP},-->
            <!--</if>-->
            <!--update_time =now(),-->
            <!--<if test="returnUrl != null">-->
                <!--return_url = #{returnUrl,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="notifyUrl != null">-->
                <!--notify_url = #{notifyUrl,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="deleteFlag != null">-->
                <!--delete_flag = #{deleteFlag,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="merchantid != null">-->
                <!--merchantid = #{merchantid,jdbcType=BIGINT},-->
            <!--</if>-->
            <!--<if test="productid != null">-->
                <!--productid = #{productid,jdbcType=BIGINT},-->
            <!--</if>-->
            <!--<if test="digestAlg != null">-->
                <!--digest_alg = #{digestAlg,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="royaltyFlag != null">-->
                <!--royalty_flag = #{royaltyFlag,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="merchantUrl != null">-->
                <!--merchant_url = #{merchantUrl,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="orderType != null">-->
                <!--order_type = #{orderType,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="mergeInfo != null">-->
                <!--merge_info = #{mergeInfo,jdbcType=VARCHAR}-->
            <!--</if>-->
            <!--<if test="status != null">-->
                <!--status = #{status,jdbcType=INTEGER},-->
            <!--</if>-->
        <!--</set>-->
        <!--where id = #{id,jdbcType=BIGINT}-->
    <!--</update>-->
    <!--<select id="selectForSettle" resultMap="BaseResultMap" parameterType="java.util.Map" >-->
        <!--<foreach item="item" index="index" collection="tableNames" open="" separator=" union all " close="">-->
            <!--select-->
            <!--<include refid="Base_Column_List" />-->
            <!--from ${item}-->
            <!--where ordertype=0-->
            <!--and order_type=0&lt;!&ndash;  普通订单 &ndash;&gt;-->
            <!--<if test="days == null">-->
                <!--and to_days(now())-to_days(pay_time)=1 and order_type=0-->
            <!--</if>-->
            <!--<if test="days != null">-->
                <!--and to_days(now())-to_days(pay_time)=#{days, jdbcType=BIGINT}-->
            <!--</if>-->
            <!--<if test="platformid != null">-->
                <!--and platformid=#{platformid,jdbcType=VARCHAR}-->
            <!--</if>-->
            <!--and ${item}.royalty_flag=0-->
            <!--and delete_flag = 0-->
            <!--and not exists-->
            <!--(select 1 from pay_refund-->
            <!--where ${item}.trade_no = pay_refund.refund_orderid and pay_refund.status = 0 and pay_refund.delete_flag = 0-->
            <!--)-->
        <!--</foreach>-->
    <!--</select>-->
    <!--<select id="selectForShare" resultMap="BaseResultMap" parameterType="java.util.Map" >-->
        <!--select-->
        <!--sum(price) price,merchantid-->
        <!--from pay_order-->
        <!--where to_days(now())-to_days(pay_time)=1 and royalty_flag=1 and ordertype=0 and delete_flag=false group by merchantid-->
    <!--</select>-->
    <!--<select id="queryPayOrderCount" resultType="java.lang.Double" parameterType="com.cmcc.pay.model.biz.PayOrder" >-->
        <!--select-->
        <!--IFNULL(sum(price),0)-->
        <!--from pay_order-->
        <!--where 1=1-->
        <!--AND trade_no not in   (-->
        <!--select-->
        <!--refund_orderid-->
        <!--from pay_refund-->
        <!--where delete_flag = 0 and status = 0 and platformid =#{payOrder.platformId} )-->
        <!--<if test="payOrder.startTime != null">-->
            <!--AND pay_time &gt;= #{payOrder.startTime}-->
        <!--</if>-->
        <!--<if test="payOrder.endTime != null">-->
            <!--AND pay_time &lt;= #{payOrder.endTime}-->
        <!--</if>-->
        <!--<if test="payOrder.ordertype != null">-->
            <!--AND ordertype = #{payOrder.ordertype}-->
        <!--</if>-->
        <!--<if test="payOrder.orderType != null">-->
            <!--AND order_type = #{payOrder.orderType}-->
        <!--</if>-->
        <!--<if test="payOrder.platformId != null">-->
            <!--AND platformid = #{payOrder.platformId}-->
        <!--</if>-->
        <!--AND royalty_flag = 0-->
        <!--AND delete_flag = 0-->
    <!--</select>-->
    <!--<select id="queryPayOrderCountLast" resultType="java.lang.Double" parameterType="com.cmcc.pay.model.biz.PayOrder" >-->
        <!--select-->
        <!--IFNULL(sum(price),0)-->
        <!--from pay_order_${monthDay}-->
        <!--where 1=1-->
        <!--AND trade_no not in   (-->
        <!--select-->
        <!--refund_orderid-->
        <!--from pay_refund-->
        <!--where delete_flag = 0 and status = 0 and platformid =#{payOrder.platformId}   )-->
        <!--<if test="payOrder.startTime != null">-->
            <!--AND pay_time &gt;= #{payOrder.startTime}-->
        <!--</if>-->
        <!--<if test="payOrder.endTime != null">-->
            <!--AND pay_time &lt;= #{payOrder.endTime}-->
        <!--</if>-->
        <!--<if test="payOrder.ordertype != null">-->
            <!--AND ordertype = #{payOrder.ordertype}-->
        <!--</if>-->
        <!--<if test="payOrder.orderType != null">-->
            <!--AND order_type = #{payOrder.orderType}-->
        <!--</if>-->
        <!--<if test="payOrder.platformId != null">-->
            <!--AND platformid = #{payOrder.platformId}-->
        <!--</if>-->
        <!--AND royalty_flag = 0-->
        <!--AND delete_flag = 0-->
    <!--</select>-->
    <!-- 结算报表-支付额 -->
    <!--<select id="selectSumPrice" resultMap="BaseResultMap1" parameterType="java.util.Map" statementType="STATEMENT">-->
        <!--select t.platformid as platformId, t.merchantid as merchantId, m.merchant_name as merchantName, t.type as type, sum(t.price) as sumOrderPrice,-->
        <!--a.product_type, a.transfer_type, a.account_type-->
        <!--from (-->
        <!--select platformid, merchantid, productid, type, price-->
        <!--from ${toMonth}-->
        <!--where delete_flag = 0 and ordertype = 0 and royalty_flag = 0-->
        <!--<if test="platformId != null">-->
            <!--and platformid = ${platformId}-->
        <!--</if>-->
        <!--<if test="startTime != null">-->
            <!--<![CDATA[and DATE_FORMAT(pay_time, '%Y-%m-%d') >= ${startTime}]]>-->
        <!--</if>-->
        <!--<if test="endTime != null">-->
            <!--<![CDATA[and DATE_FORMAT(pay_time, '%Y-%m-%d') <= ${endTime}]]>-->
        <!--</if>-->
        <!--union all-->
        <!--select platformid, merchantid, productid, type, price-->
        <!--from ${lastMonth}-->
        <!--where delete_flag = 0 and ordertype = 0 and royalty_flag = 0-->
        <!--<if test="platformId != null">-->
            <!--and platformid = ${platformId}-->
        <!--</if>-->
        <!--<if test="startTime != null">-->
            <!--<![CDATA[and DATE_FORMAT(pay_time, '%Y-%m-%d') >= ${startTime}]]>-->
        <!--</if>-->
        <!--<if test="endTime != null">-->
            <!--<![CDATA[and DATE_FORMAT(pay_time, '%Y-%m-%d') <= ${endTime}]]>-->
        <!--</if>-->
        <!--union all-->
        <!--select platformid, merchantid, productid, type, price-->
        <!--from ${nextMonth}-->
        <!--where delete_flag = 0 and ordertype = 0 and royalty_flag = 0-->
        <!--<if test="platformId != null">-->
            <!--and platformid = ${platformId}-->
        <!--</if>-->
        <!--<if test="startTime != null">-->
            <!--<![CDATA[and DATE_FORMAT(pay_time, '%Y-%m-%d') >= ${startTime}]]>-->
        <!--</if>-->
        <!--<if test="endTime != null">-->
            <!--<![CDATA[and DATE_FORMAT(pay_time, '%Y-%m-%d') <= ${endTime}]]>-->
        <!--</if>-->
        <!--union all-->
        <!--select platformid, merchantid, productid, type, price-->
        <!--from ${next2Month}-->
        <!--where delete_flag = 0 and ordertype = 0 and royalty_flag = 0-->
        <!--<if test="platformId != null">-->
            <!--and platformid = ${platformId}-->
        <!--</if>-->
        <!--<if test="startTime != null">-->
            <!--<![CDATA[and DATE_FORMAT(pay_time, '%Y-%m-%d') >= ${startTime}]]>-->
        <!--</if>-->
        <!--<if test="endTime != null">-->
            <!--<![CDATA[and DATE_FORMAT(pay_time, '%Y-%m-%d') <= ${endTime}]]>-->
        <!--</if>-->
        <!--) as t-->
        <!--left join pay_merchant m on t.platformid = m.platform_id and t.merchantid = m.merchant_id, pay_platform_account a,-->
        <!--(select * from pay_product pro group by pro.platform_id, pro.merchant_id, pro.product_id, pro.pay_type) as p-->
        <!--where t.platformid = p.platform_id and t.merchantid = p.merchant_id and t.productid = p.product_id and t.type = p.pay_type-->
        <!--and t.platformid = a.platformid and t.merchantid = a.merchant_id and t.type = a.pay_type and p.product_type = a.product_type-->
        <!--group by t.merchantid, t.type, a.product_type, a.transfer_type, a.account_type-->
    <!--</select>-->

    <!-- 结算报表-退款额 -->
    <!--<select id="selectRefundFromOrder" resultMap="BaseResultMap1" parameterType="java.util.Map" statementType="STATEMENT">-->
        <!--select t.platformid as platformId, t.trade_no, t.merchantid as merchantId, m.merchant_name as merchantName, t.type as type,-->
        <!--a.product_type, a.transfer_type, a.account_type-->
        <!--from ${tableName}-->
        <!--left join pay_merchant m on t.platformid = m.platform_id and t.merchantid = m.merchant_id, pay_platform_account a,-->
        <!--(select * from pay_product pro group by pro.platform_id, pro.merchant_id, pro.product_id, pro.pay_type) as p-->
        <!--where t.platformid = p.platform_id and t.merchantid = p.merchant_id and t.productid = p.product_id and t.type = p.pay_type-->
        <!--and t.platformid = a.platformid and t.merchantid = a.merchant_id and t.type = a.pay_type and p.product_type = a.product_type-->
        <!--and t.trade_no in-->
        <!--<foreach item="item" index="index" collection="tradenos" open="(" separator="," close=")">-->
            <!--'${item}'-->
        <!--</foreach>-->
        <!--<if test="date != null">-->
            <!--<![CDATA[and DATE_FORMAT(t.pay_time, '%Y-%m-%d') <= '${date}']]>-->
        <!--</if>-->
    <!--</select>-->

    <!-- 结算报表-支付明细总数-->
    <!--<select id="selectPayOrderDetailCount" resultType="java.lang.Integer" parameterType="java.util.Map">-->
        <!--select count(1) from(-->
        <!--select o.platformid, o.orderid, o.merchantid, o.type, o.productid-->
        <!--from ${toMonth}-->
        <!--where o.delete_flag = 0 and o.ordertype = 0 and o.royalty_flag = 0-->
        <!--<if test="platformId != null">-->
            <!--and o.platformid = ${platformId}-->
        <!--</if>-->
        <!--<if test="merchantId != null">-->
            <!--and o.merchantid = ${merchantId}-->
        <!--</if>-->
        <!--<if test="startTime != null">-->
            <!--<![CDATA[and DATE_FORMAT(o.pay_time, '%Y-%m-%d') >= ${startTime}]]>-->
        <!--</if>-->
        <!--<if test="endTime != null">-->
            <!--<![CDATA[and DATE_FORMAT(o.pay_time, '%Y-%m-%d') <= ${endTime}]]>-->
        <!--</if>-->
        <!--union all-->
        <!--select o.platformid, o.orderid, o.merchantid, o.type, o.productid-->
        <!--from ${lastMonth}-->
        <!--where o.delete_flag = 0 and o.ordertype = 0 and o.royalty_flag = 0-->
        <!--<if test="platformId != null">-->
            <!--and o.platformid = ${platformId}-->
        <!--</if>-->
        <!--<if test="merchantId != null">-->
            <!--and o.merchantid = ${merchantId}-->
        <!--</if>-->
        <!--<if test="startTime != null">-->
            <!--<![CDATA[and DATE_FORMAT(o.pay_time, '%Y-%m-%d') >= ${startTime}]]>-->
        <!--</if>-->
        <!--<if test="endTime != null">-->
            <!--<![CDATA[and DATE_FORMAT(o.pay_time, '%Y-%m-%d') <= ${endTime}]]>-->
        <!--</if>-->
        <!--union all-->
        <!--select o.platformid, o.orderid, o.merchantid, o.type, o.productid-->
        <!--from ${nextMonth}-->
        <!--where o.delete_flag = 0 and o.ordertype = 0 and o.royalty_flag = 0-->
        <!--<if test="platformId != null">-->
            <!--and o.platformid = ${platformId}-->
        <!--</if>-->
        <!--<if test="merchantId != null">-->
            <!--and o.merchantid = ${merchantId}-->
        <!--</if>-->
        <!--<if test="startTime != null">-->
            <!--<![CDATA[and DATE_FORMAT(o.pay_time, '%Y-%m-%d') >= ${startTime}]]>-->
        <!--</if>-->
        <!--<if test="endTime != null">-->
            <!--<![CDATA[and DATE_FORMAT(o.pay_time, '%Y-%m-%d') <= ${endTime}]]>-->
        <!--</if>-->
        <!--union all-->
        <!--select o.platformid, o.orderid, o.merchantid, o.type, o.productid-->
        <!--from ${next2Month}-->
        <!--where o.delete_flag = 0 and o.ordertype = 0 and o.royalty_flag = 0-->
        <!--<if test="platformId != null">-->
            <!--and o.platformid = ${platformId}-->
        <!--</if>-->
        <!--<if test="merchantId != null">-->
            <!--and o.merchantid = ${merchantId}-->
        <!--</if>-->
        <!--<if test="startTime != null">-->
            <!--<![CDATA[and DATE_FORMAT(o.pay_time, '%Y-%m-%d') >= ${startTime}]]>-->
        <!--</if>-->
        <!--<if test="endTime != null">-->
            <!--<![CDATA[and DATE_FORMAT(o.pay_time, '%Y-%m-%d') <= ${endTime}]]>-->
        <!--</if>-->
        <!--) as b-->
        <!--left join pay_merchant m on b.platformid = m.platform_id and b.merchantid = m.merchant_id,-->
        <!--pay_platform_account a,-->
        <!--(select * from pay_product pro group by pro.platform_id, pro.merchant_id, pro.product_id, pro.pay_type) as p-->
        <!--where b.platformid = p.platform_id and b.merchantid = p.merchant_id and b.productid = p.product_id and b.type = p.pay_type-->
        <!--and b.platformid = a.platformid and b.merchantid = a.merchant_id and b.type = a.pay_type and p.product_type = a.product_type-->
    <!--</select>-->

    <!-- 结算报表-支付明细 -->
    <!--<select id="selectPayOrderDetail" resultMap="BaseResultMap2" parameterType="java.util.Map" statementType="STATEMENT">-->
        <!--select b.platformid, b.pay_time, b.orderid, b.trade_no, b.third_orderid, m.merchant_name, p.product_name, p.settle_period,-->
        <!--b.type, b.price, b.status, a.product_type, a.transfer_type, a.account_type-->
        <!--from(-->
        <!--select o.platformid, o.pay_time, o.orderid, o.trade_no, o.third_orderid, o.merchantid, o.productid, o.type, o.price, o.status-->
        <!--from ${toMonth}-->
        <!--where o.delete_flag = 0 and o.ordertype = 0 and o.royalty_flag = 0-->
        <!--<if test="platformId != null">-->
            <!--and o.platformid = ${platformId}-->
        <!--</if>-->
        <!--<if test="merchantId != null">-->
            <!--and o.merchantid = ${merchantId}-->
        <!--</if>-->
        <!--<if test="payType != null">-->
            <!--and o.type = ${payType}-->
        <!--</if>-->
        <!--<if test="startTime != null">-->
            <!--<![CDATA[and DATE_FORMAT(o.pay_time, '%Y-%m-%d') >= ${startTime}]]>-->
        <!--</if>-->
        <!--<if test="endTime != null">-->
            <!--<![CDATA[and DATE_FORMAT(o.pay_time, '%Y-%m-%d') <= ${endTime}]]>-->
        <!--</if>-->
        <!--union all-->
        <!--select o.platformid, o.pay_time, o.orderid, o.trade_no, o.third_orderid, o.merchantid, o.productid, o.type, o.price, o.status-->
        <!--from ${lastMonth}-->
        <!--where o.delete_flag = 0 and o.ordertype = 0 and o.royalty_flag = 0-->
        <!--<if test="platformId != null">-->
            <!--and o.platformid = ${platformId}-->
        <!--</if>-->
        <!--<if test="merchantId != null">-->
            <!--and o.merchantid = ${merchantId}-->
        <!--</if>-->
        <!--<if test="payType != null">-->
            <!--and o.type = ${payType}-->
        <!--</if>-->
        <!--<if test="startTime != null">-->
            <!--<![CDATA[and DATE_FORMAT(o.pay_time, '%Y-%m-%d') >= ${startTime}]]>-->
        <!--</if>-->
        <!--<if test="endTime != null">-->
            <!--<![CDATA[and DATE_FORMAT(o.pay_time, '%Y-%m-%d') <= ${endTime}]]>-->
        <!--</if>-->
        <!--union all-->
        <!--select o.platformid, o.pay_time, o.orderid, o.trade_no, o.third_orderid, o.merchantid, o.productid, o.type, o.price, o.status-->
        <!--from ${nextMonth}-->
        <!--where o.delete_flag = 0 and o.ordertype = 0 and o.royalty_flag = 0-->
        <!--<if test="platformId != null">-->
            <!--and o.platformid = ${platformId}-->
        <!--</if>-->
        <!--<if test="merchantId != null">-->
            <!--and o.merchantid = ${merchantId}-->
        <!--</if>-->
        <!--<if test="payType != null">-->
            <!--and o.type = ${payType}-->
        <!--</if>-->
        <!--<if test="startTime != null">-->
            <!--<![CDATA[and DATE_FORMAT(o.pay_time, '%Y-%m-%d') >= ${startTime}]]>-->
        <!--</if>-->
        <!--<if test="endTime != null">-->
            <!--<![CDATA[and DATE_FORMAT(o.pay_time, '%Y-%m-%d') <= ${endTime}]]>-->
        <!--</if>-->
        <!--union all-->
        <!--select o.platformid, o.pay_time, o.orderid, o.trade_no, o.third_orderid, o.merchantid, o.productid, o.type, o.price, o.status-->
        <!--from ${next2Month}-->
        <!--where o.delete_flag = 0 and o.ordertype = 0 and o.royalty_flag = 0-->
        <!--<if test="platformId != null">-->
            <!--and o.platformid = ${platformId}-->
        <!--</if>-->
        <!--<if test="merchantId != null">-->
            <!--and o.merchantid = ${merchantId}-->
        <!--</if>-->
        <!--<if test="payType != null">-->
            <!--and o.type = ${payType}-->
        <!--</if>-->
        <!--<if test="startTime != null">-->
            <!--<![CDATA[and DATE_FORMAT(o.pay_time, '%Y-%m-%d') >= ${startTime}]]>-->
        <!--</if>-->
        <!--<if test="endTime != null">-->
            <!--<![CDATA[and DATE_FORMAT(o.pay_time, '%Y-%m-%d') <= ${endTime}]]>-->
        <!--</if>-->
        <!--) as b-->
        <!--left join pay_merchant m on b.platformid = m.platform_id and b.merchantid = m.merchant_id-->
        <!--, pay_platform_account a,-->
        <!--(select * from pay_product pro group by pro.platform_id, pro.merchant_id, pro.product_id, pro.pay_type) as p-->
        <!--where b.platformid = p.platform_id and b.merchantid = p.merchant_id and b.productid = p.product_id and b.type = p.pay_type-->
        <!--and b.platformid = a.platformid and b.merchantid = a.merchant_id and b.type = a.pay_type and p.product_type = a.product_type-->
        <!--<if test="accountType != null">-->
            <!--and a.account_type = ${accountType}-->
        <!--</if>-->
        <!--<if test="transferType != null">-->
            <!--and a.transfer_type = ${transferType}-->
        <!--</if>-->
        <!--ORDER BY b.pay_time DESC, CONVERT(m.merchant_name USING gbk), CONVERT(p.product_name USING gbk)-->
        <!--<if test="index != null and pageSize != null">-->
            <!--LIMIT ${index}, ${pageSize}-->
        <!--</if>-->
    <!--</select>-->

    <!-- 分页获取订单信息，生成子公司对账单 -->
    <!-- <select id="queryCheckFilePage" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT <include refid="Base_Column_List" />
        FROM pay_order T WHERE 1=1
        <if test="startPay != null">
            AND T.pay_time >= STR_TO_DATE(#{startPay,jdbcType=VARCHAR},'%Y-%c-%d %H:%i:%s')
        </if>
        <if test="endPay != null">
            <![CDATA[ AND T.pay_time <= STR_TO_DATE(#{endPay,jdbcType=VARCHAR},'%Y-%c-%d %H:%i:%s')]]>
        </if>
        AND T.ordertype = 0 支付成功
        AND T.trade_no NOT LIKE 'PR%' 排除转增的订单
        AND T.trade_no NOT IN ( 排除所有异常
            SELECT T2.ORDER_ID FROM pay_exception T2
            WHERE T2.DELETE_FLAG = 0
            AND T2.RECORD_DATE = #{recordDate,jdbcType=VARCHAR}
            AND T2.ORDER_ID IS NOT NULL
        )
        ORDER BY t.ID DESC LIMIT #{index,jdbcType=BIGINT}, #{pageSize,jdbcType=BIGINT}
    </select> -->
    <!-- 获取支付记录（以支付平台为准） -->
    <!--<select id="queryCheckFilePage" resultMap="BaseResultMap" parameterType="java.util.Map">-->
        <!--SELECT DISTINCT-->
        <!--T.id, T.orderid, T.transactionid, T.transaction_date, T.ordertype, T.orderinfo, T.account_code,-->
        <!--T.account_type, T.pay_period, T.trade_no, T.third_orderid, T.failurereasons, T.platformid, T.price,-->
        <!--T.type, T.pay_time, T.create_time, T.update_time, T.return_url, T.notify_url, T.delete_flag, T.merchantid,-->
        <!--T.productid,T.royalty_flag,T.digest_alg,T.pro_count,T.merchant_url,T.order_type,T.merge_info,M.product_name-->
        <!--FROM pay_order T left join pay_product M on T.platformid=M.platform_id and T.merchantid=M.merchant_id and T.productid=M.product_id and T.type=M.pay_type-->
        <!--WHERE 1=1-->
        <!--<if test="startPay != null">-->
            <!--AND T.pay_time >= STR_TO_DATE(#{startPay,jdbcType=VARCHAR},'%Y-%c-%d %H:%i:%s')-->
        <!--</if>-->
        <!--<if test="endPay != null">-->
            <!--<![CDATA[ AND T.pay_time <= STR_TO_DATE(#{endPay,jdbcType=VARCHAR},'%Y-%c-%d %H:%i:%s')]]>-->
        <!--</if>-->
        <!--AND T.merchantid = #{merchantid,jdbcType=BIGINT}-->
        <!--AND T.platformid = #{platformId,jdbcType=VARCHAR}-->
        <!--AND T.ordertype = 0 &lt;!&ndash; 支付成功 &ndash;&gt;-->
        <!--AND T.order_type = 0 &lt;!&ndash; 普通订单 &ndash;&gt;-->
        <!--AND T.delete_flag = 0-->
        <!--ORDER BY T.ID DESC LIMIT #{index,jdbcType=BIGINT}, #{pageSize,jdbcType=BIGINT}-->
    <!--</select>-->

    <select id="selectByOrderid" resultMap="BaseResultMap"
            parameterType="java.util.Map" >
        select
        <include refid="Base_Column_List" />
        from pay_order
        where orderid = #{orderid,jdbcType=VARCHAR}
        AND delete_flag = 0
    </select>

    <select id="selectByTradeNo" resultMap="BaseResultMap"
            parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from pay_order_1607
        where trade_no = #{tradeNo,jdbcType=VARCHAR}
        AND delete_flag = 0
    </select>

    <!--<update id="updateByOrderid"  parameterType="java.util.Map">-->
        <!--update pay_order set-->
        <!--<if test="paidPrice != null">-->
            <!--price = #{paidPrice,jdbcType=DECIMAL},-->
        <!--</if>-->
        <!--<if test="thirdOrderid != null">-->
            <!--third_orderid = #{thirdOrderid,jdbcType=VARCHAR},-->
        <!--</if>-->
        <!--<if test="payTime != null">-->
            <!--pay_time = STR_TO_DATE(#{payTime,jdbcType=VARCHAR},'%Y-%c-%d %H:%i:%s'),-->
        <!--</if>-->
        <!--ordertype = 0,-->
        <!--update_time = now()-->
        <!--where trade_no = #{tradeNo,jdbcType=VARCHAR}-->
        <!--AND delete_flag = 0-->
    <!--</update>-->


    <!--<select id="queryCount" resultType="java.lang.Integer" parameterType="java.util.Map">-->
        <!--SELECT COUNT(1) FROM pay_order T WHERE 1=1-->

        <!--<if test="otherType != null">-->
            <!--AND T.type = #{otherType,jdbcType=INTEGER}-->
        <!--</if>-->
        <!--<if test="platformId != null">-->
            <!--AND T.platformid = #{platformId,jdbcType=VARCHAR}-->
        <!--</if>-->
        <!--<if test="orderid != null">-->
            <!--AND T.orderid = #{orderid,jdbcType=VARCHAR}-->
        <!--</if>-->
        <!--<if test="startTime != null">-->
            <!--AND T.create_time >= STR_TO_DATE(#{startTime,jdbcType=VARCHAR},'%Y-%c-%d')-->
        <!--</if>-->
        <!--<if test="endTime != null">-->
            <!--<![CDATA[ AND T.create_time <= STR_TO_DATE(#{endTime,jdbcType=VARCHAR},'%Y-%c-%d')]]>-->
        <!--</if>-->
        <!--AND delete_flag = 0-->
    <!--</select>-->


    <!--<select id="queryPagination" resultMap="BaseResultMap" parameterType="java.util.Map">-->
        <!--select <include refid="Base_Column_List" />-->

        <!--from pay_order T-->

        <!--WHERE 1=1-->

        <!--<if test="otherType != null">-->
            <!--AND T.type = #{otherType,jdbcType=INTEGER}-->
        <!--</if>-->
        <!--<if test="platformId != null">-->
            <!--AND T.platformid = #{platformId,jdbcType=VARCHAR}-->
        <!--</if>-->
        <!--<if test="orderid != null">-->
            <!--AND T.orderid = #{orderid,jdbcType=VARCHAR}-->
        <!--</if>-->
        <!--<if test="startTime != null">-->
            <!--AND T.create_time >= STR_TO_DATE(#{startTime,jdbcType=VARCHAR},'%Y-%c-%d')-->
        <!--</if>-->
        <!--<if test="endTime != null">-->
            <!--<![CDATA[ AND T.create_time <= STR_TO_DATE(#{endTime,jdbcType=VARCHAR},'%Y-%c-%d')]]>-->
        <!--</if>-->

        <!--AND delete_flag = 0-->
        <!--order by T.create_time DESC, T.update_time desc-->
        <!--LIMIT #{index,jdbcType=BIGINT}, #{pageSize,jdbcType=BIGINT}-->
    <!--</select>-->



    <!--<select id="querySum" resultType="java.lang.Double" parameterType="java.util.Map">-->
        <!--SELECT COALESCE(SUM(price),0) FROM pay_order T WHERE 1=1-->
        <!--<if test="otherType != null">-->
            <!--AND T.type = #{otherType,jdbcType=INTEGER}-->
        <!--</if>-->
        <!--<if test="status != null">-->
            <!--AND T.ordertype = #{status,jdbcType=INTEGER}-->
        <!--</if>-->
        <!--<if test="startTime != null">-->
            <!--AND T.create_time >= STR_TO_DATE(#{startTime,jdbcType=VARCHAR},'%Y-%c-%d-->
            <!--%H:%i:%s')-->
        <!--</if>-->
        <!--<if test="endTime != null">-->
            <!--<![CDATA[ AND T.create_time <= STR_TO_DATE(#{endTime,jdbcType=VARCHAR},'%Y-%c-%d %H:%i:%s')]]>-->
        <!--</if>-->
        <!--AND delete_flag = 0-->
    <!--</select>-->

    <!--<select id="selectAllMerchantId" resultType="java.lang.Long" parameterType="java.lang.String">-->
        <!--select distinct(merchantid) from pay_order where 1=1-->
        <!--AND delete_flag = 0-->
    <!--</select>-->

    <!--<select id="selectAllCountAndPrice" resultType="com.cmcc.pay.model.check.Statistics"  parameterType="java.util.Map">-->
        <!--select merchantid,type,ordertype,-->
        <!--count(1) AS count, sum(price) AS price-->
        <!--from pay_order-->
        <!--where merchantid =#{merchantId,jdbcType=BIGINT}-->
        <!--group by type,ordertype-->
    <!--</select>-->

    <select id="selectPaysByQuery" resultMap="BaseResultMap" parameterType="com.cmcc.pay.model.biz.PayOrder">
        select
        <include refid="Base_Column_List" />
        from pay_order
        where orderid = #{orderid,jdbcType=VARCHAR}
        AND platformid = #{platformId,jdbcType=VARCHAR}
        AND delete_flag = 0
    </select>

    <!-- 查询用户充值总金额 -->
    <!-- select sum(t.price),count(*) from pay_order_1601 t where t.account_code = '18605818703' and t.platformid = '0003'; -->
    <!--<select id="selectAllRechargeprice" resultType="java.lang.Double" parameterType="java.util.Map" >-->
        <!--select sum(t.price) from pay_order t-->
        <!--where t.account_code = #{accountCode,jdbcType=VARCHAR}-->
        <!--AND t.platformid = #{platformId,jdbcType=BIGINT}-->
        <!--AND t.ordertype = 0-->
        <!--AND t.type != 7-->
    <!--</select>-->

    <!--<select id="selectUnuseOrder" resultMap="BaseResultMap" parameterType="java.util.Map">-->
        <!--select <include refid="Base_Column_List" />-->

        <!--from pay_order T-->

        <!--WHERE 1=1-->
        <!--<if test="ordertype != null">-->
            <!--AND T.ordertype = #{ordertype,jdbcType=INTEGER}-->
        <!--</if>-->
        <!--<if test="type != null">-->
            <!--AND T.type = #{type,jdbcType=INTEGER}-->
        <!--</if>-->
        <!--AND not EXISTS (select * from pay_redpacket p where T.trade_no = p.serial_no)-->
        <!--<if test="tradeNo != null">-->
            <!--AND T.trade_no like #{tradeNo,jdbcType=VARCHAR}-->
        <!--</if>-->
        <!--<if test="platformId != null">-->
            <!--AND T.platformid = #{platformId,jdbcType=VARCHAR}-->
        <!--</if>-->
        <!--<if test="startTime != null">-->
            <!--AND T.create_time >= STR_TO_DATE(#{startTime,jdbcType=VARCHAR},'%Y-%c-%d')-->
        <!--</if>-->
        <!--<if test="endTime != null">-->
            <!--<![CDATA[ AND T.create_time <= STR_TO_DATE(#{endTime,jdbcType=VARCHAR},'%Y-%c-%d')]]>-->
        <!--</if>-->

        <!--AND delete_flag = 0-->
    <!--</select>-->

    <!-- 查询订单总金额 -->
    <!--<select id="selectTotalPrice" resultType="java.lang.Double" parameterType="java.util.Map">-->
        <!--select sum(T.price)-->

        <!--from pay_order T-->

        <!--WHERE 1=1-->
        <!--<if test="ordertype != null">-->
            <!--AND T.ordertype = #{ordertype,jdbcType=INTEGER}-->
        <!--</if>-->
        <!--<if test="type != null">-->
            <!--AND T.type = #{type,jdbcType=INTEGER}-->
        <!--</if>-->
        <!--<if test="tradeNo != null">-->
            <!--AND T.trade_no like #{tradeNo,jdbcType=VARCHAR}-->
        <!--</if>-->
        <!--<if test="platformId != null">-->
            <!--AND T.platformid = #{platformId,jdbcType=VARCHAR}-->
        <!--</if>-->
        <!--<if test="startTime != null">-->
            <!--AND T.create_time >= STR_TO_DATE(#{startTime,jdbcType=VARCHAR},'%Y-%c-%d')-->
        <!--</if>-->
        <!--<if test="endTime != null">-->
            <!--<![CDATA[ AND T.create_time <= STR_TO_DATE(#{endTime,jdbcType=VARCHAR},'%Y-%c-%d')]]>-->
        <!--</if>-->
    <!--</select>-->

    <!--<update id="updateOrdertypeById"  parameterType="com.cmcc.pay.model.biz.PayOrder">-->
        <!--update pay_order-->
        <!--set trade_no = #{tradeNo,jdbcType=VARCHAR},-->
        <!--ordertype = #{ordertype,jdbcType=INTEGER},-->
        <!--update_time = now()-->
        <!--where id = #{id,jdbcType=BIGINT}-->
        <!--AND delete_flag = 0-->
    <!--</update>-->

    <!--<update id="updatePayTypeById"  parameterType="java.util.Map">-->
        <!--update pay_order set-->
        <!--type = #{type,jdbcType=INTEGER},-->
        <!--update_time = now()-->
        <!--where id = #{parseLong,jdbcType=BIGINT}-->
        <!--AND delete_flag = 0-->
    <!--</update>-->

    <!--<update id="updateByPrimaryKey" parameterType="com.cmcc.pay.model.biz.PayOrder">-->
        <!--update pay_order-->
        <!--set orderid = #{orderid,jdbcType=VARCHAR},-->
        <!--ordertype = #{ordertype,jdbcType=INTEGER},-->
        <!--orderinfo = #{orderinfo,jdbcType=VARCHAR},-->
        <!--trade_no = #{tradeNo,jdbcType=VARCHAR},-->
        <!--notifyid = #{notifyid,jdbcType=VARCHAR},-->
        <!--failurereasons = #{failurereasons,jdbcType=VARCHAR},-->
        <!--platformid = #{platformId,jdbcType=INTEGER},-->
        <!--price = #{price,jdbcType=DECIMAL},-->
        <!--type = #{type,jdbcType=INTEGER},-->
        <!--pay_period = #{payPeriod,jdbcType=VARCHAR},-->
        <!--pay_time = #{payTime,jdbcType=TIMESTAMP},-->
        <!--create_time = #{createTime,jdbcType=TIMESTAMP},-->
        <!--update_time = now(),-->
        <!--return_url = #{returnUrl,jdbcType=VARCHAR},-->
        <!--notify_url = #{notifyUrl,jdbcType=VARCHAR},-->
        <!--merchant_url = #{merchantUrl,jdbcType=VARCHAR},-->
        <!--delete_flag = #{deleteFlag,jdbcType=INTEGER},-->
        <!--account_code = #{accountCode,jdbcType=VARCHAR},-->
        <!--account_type = #{accountType,jdbcType=INTEGER},-->
        <!--third_orderid = #{thirdOrderid,jdbcType=VARCHAR},-->
        <!--merchantid = #{merchantid,jdbcType=INTEGER},-->
        <!--productid = #{productid,jdbcType=INTEGER},-->
        <!--royalty_flag = #{royaltyFlag,jdbcType=INTEGER},-->
        <!--digest_alg = #{digestAlg,jdbcType=INTEGER},-->
        <!--pro_count = #{proCount,jdbcType=INTEGER},-->
        <!--transaction_date = #{transactionDate,jdbcType=TIMESTAMP},-->
        <!--transactionid = #{transactionid,jdbcType=VARCHAR}-->
        <!--where id = #{id,jdbcType=BIGINT}-->
    <!--</update>-->

    <delete id="deletePay" parameterType="java.lang.String">
        delete from pay_order where trade_no = #{tradeNo,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteAllPay" parameterType="java.lang.String">
        delete from pay_order_${tableSuffix}
    </delete>

</mapper>